title: RDM Maturity Model
description: >-
  Research Data Management Maturity Model: A maturity model for RDM readiness assessment.
baseurl: ""
url: "https://elixir-europe.github.io/rdm-maturity-model"

markdown: kramdown
theme: minima
plugins:
  - jekyll-sitemap

exclude:
  - README.md
  - vendor
  - Gemfile
  - Gemfile.lock
