<footer class="site-footer h-card">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col">
                <p>{{- site.description | escape -}}</p>
                <p>This maturity model is a product of
                    <a href="https://elixir-europe.org/communities/research-data-management" target="_blank">Research
                        Data Management Community</a>,
                    <a href="https://elixir-europe.org/" target="_blank">ELIXIR Europe</a>.</p>
            </div>
        </div>

    </div>

</footer>
